.layoutContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.workspace {
  display: flex;
  flex: 1;
}

.mainGrid {
  flex: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.topSection {
  display: grid;
  grid-template-columns: 360px 1fr;
  gap: 24px;
}
.bottomSection {
  width: 100%;
}

.container {
  padding: 24px;
  min-height: 100vh;
}

.header {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 1.25rem;
}

.layout {
  padding: 24px;
  min-height: 100vh;
}