@use "./utils/variables" as *;
@use "./utils/fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Graphik Trial", sans-serif;
  background-color: $mainBackgroundColor;
}

button,
input,
select,
textarea {
  font: inherit;
}

.app {
  &__body {
    display: flex;
    min-height: calc(100vh - #{$headerHeight});

    &__content {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-areas:
        "highlights drivers"
        "forecast forecast";
      grid-template-rows: 410px minmax(500px, 1fr);
      gap: 16px;

      flex: 1;
      min-width: 0;
      padding: 24px;

      background-color: $mainBackgroundColor;
    }
  }
}
