$mainBackgroundColor: #ffffff;
$secondaryBackgroundColor: #fafafa;
$activeBackgroundColor: #eaf5ff;
$mainBorderColor: #e6e6e6;
$subtitleColor: #535353;

$headerHeight: 56px;

$mainTextColor: #0b0b0b;
$activeTextColor: #007dff;
$disabledTextColor: #a3a3a3;

$sidebarWidth: 269px;